<style>
div#bg_landing:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  opacity: 0.6;
  z-index: 0;
}

</style>

<div id="bg_landing" style="background:#000 url(<%= asset_path("bg_kyung_ha_shim.png") %>) no-repeat; background-size: cover !important; background-position: center !important; width: 100%; height: 100%;">
  <header id="Layout_header">
		<div class="header_inner" style="position: absolute; top: 30%; padding: 0; width: 100%;">
			<p style="font-size: 32px; color: #fff; font-weight: bold; font-style: normal;">Experience <br> the real K-pop idol <br>dance training</p>
      <a id="link_surveys" href="/surveys">
        <button style="margin-top: 30px;display:inline-block;vertical-align:middle;font-weight:bold;width: 250px;height:54px;line-height:54px;text-align:center;color:#fff;font-size:18px; border-radius: 30px; background: #ff0076;">
          Learn more > 
        </button>
      </a>
		</div>
	</header>
</div>

<% content_for :javascript do %>
  <!-- 마케팅 추적 코드 -->
  <script>
    console.log(localStorage.getItem('ds:exp:id'));
    console.log(localStorage.getItem('ds:exp:variantId'));
    fbq('track', 'ViewContent');
    // mixpanel
    track_identify(getUid(), get_current_email());
    track_event('LandingPage');

    // fullstory
    FS.identify(getUid());
  </script>
<% end %>

